# Build outputs
dist
build
target
pkg
.turbo

# Dependencies
node_modules

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode
.idea

# Rust
Cargo.lock

# Test fixtures
examples/fixtures/
fixtures/napi-local-test/fixtures/error-case/
